In [3]:
import pandas as pd

import mysql.connector
from sqlalchemy import create_engine

In [5]:
from getpass import getpass

In [7]:
password = getpass.getpass()

 ········

In [9]:
cnx = mysql.connector.connect(user = "root",
                             password = password,
                             host = "localhost",
                             database = "sakila")

In [11]:
cnx.is_connected()

True

In [13]:
cursor = cnx.cursor()

In [15]:
query = ("""SELECT * FROM sakila.rental;""")

In [17]:
cursor.execute(query)

In [19]:
user = "root"
pw = password
db = "sakila"

engine = create_engine(f"mysql+pymysql://{user}:{pw}@localhost/{db}")

In [27]:
def rentals_month(connection):
    with engine.connect() as connection:
        txt = """SELECT * FROM sakila.rental;"""
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())

In [29]:
rentals_month

In [31]:
from sqlalchemy import text

def rentals_month(engine):
    with engine.connect() as connection:
        txt = """SELECT * FROM sakila.rental;"""
        query = text(txt)
        result = connection.execute(query)
        return pd.DataFrame(result.all())

df_rentals = rentals_month(engine) 
print(df_rentals)

       rental_id         rental_date  inventory_id  customer_id  \
0              1 2005-05-24 22:53:30           367          130
1              2 2005-05-24 22:54:33          1525          459
2              3 2005-05-24 23:03:39          1711          408
3              4 2005-05-24 23:04:41          2452          333
4              5 2005-05-24 23:05:21          2079          222
...          ...                 ...           ...          ...
16039      16045 2005-08-23 22:25:26           772           14
16040      16046 2005-08-23 22:26:47          4364           74
16041      16047 2005-08-23 22:42:48          2088          114
16042      16048 2005-08-23 22:43:07          2019          103
16043      16049 2005-08-23 22:50:12          2666          393

              return_date  staff_id         last_update
0     2005-05-26 22:04:30         1 2006-02-15 21:30:53
1     2005-05-28 19:40:33         1 2006-02-15 21:30:53
2     2005-06-01 22:12:39         1 2006-02-15 21:30:53
3     2005-06-03 01:43:41         2 2006-02-15 21:30:53
4     2005-06-02 04:33:21         1 2006-02-15 21:30:53
...                   ...       ...                 ...
16039 2005-08-25 23:54:26         1 2006-02-15 21:30:53
16040 2005-08-27 18:02:47         2 2006-02-15 21:30:53
16041 2005-08-25 02:48:48         2 2006-02-15 21:30:53
16042 2005-08-31 21:33:07         1 2006-02-15 21:30:53
16043 2005-08-30 01:01:12         2 2006-02-15 21:30:53

[16044 rows x 7 columns]

In [33]:

def rental_count_month(df, month, year):
    new_column_name = f"rentals_{month:02d}_{year}"
    rental_count = df.groupby('customer_id').size().reset_index(name=new_column_name)
    return rental_count

In [ ]:
df_count_month = rental_count_month(df, 5, 2005)
print(df_count_month)